- collapsed = false  unless defined?(collapsed)
- lazy = true  unless defined?(lazy)
.word.ui-expandable{:id => "word_#{word.id}"}
  %h3.header
    - classes = collapsed ? %w{collapsed} : []
    %button.expander{:class => classes}
      %span.ui-icon
    %span.name= word.name
    - if nl = word.local
      - if nl.translations.present?
        %span &ndash;
        %span.translation= nl.translations.join(', ')
      - if nl.tags.present?
        %span.tags= nl.tags.map { |tag| content_tag :span, tag, :class => 'tag'  }.join(' ').html_safe

  .content{:data => {:url => content_word_url(word)}}<
    = render( :partial => 'word_content', :locals => {:word => word, :nl => nl} )  unless collapsed && lazy
