- content_for :title, t('words.search.title')

%h1= t('words.search.title')
= form_tag search_words_path, :id => :search  do
  = label_tag :search, t('words.search.prompt')
  = text_field_tag :terms, @terms.join(' '), :size => 30, :autocomplete => autocomplete_words_path, :class => 'ui-widget'
  = submit_tag t('words.search.submit')

#words.words
  = render @words  if @words.present?
