- nl = @word.local
.word{:id => "word_#{@word.id}"}
  %strong= @word.name
  - if @word.parts.present?
    (#{@word.parts.join(',')})
  - if nl.present? && nl.definition.present?
    %br/
    %p= nl.definition
    - if nl.notes.present?
      %p= nl.notes
