#header
  #top.ui-state-focus.ui-corner-top
    #left= t('site.title')
    #right
      = label_tag :language, t('label.language')
      = select_tag :language, options_for_language_select, {        |
        :id => 'language', :class => 'ui-state-default',            |
        :onchange => "redirect_to_lang( $('#language')[0].value )"  |
      }                                                             |
    .clear

  %table#bottom.ui-state-default.ui-corner-bottom
    %tr
      %td#left
        = nav_button 'Index', words_path, :class => 'ui-corner-bl'
        = nav_button 'Search', search_words_path
      %td#right
        - if user_signed_in?
          = t('site.welcome')
          = current_user.full_name
          [#{link_to t('action.logout'), destroy_user_session_url}]
        - else
          = form_for :user, :url => session_path(:user)  do |f|
            = label_tag :openid_identifier, t('label.openid')
            %input{:type => 'text', :id => 'openid_identifier', :name => 'openid_identifier', :size => 20}/
            = f.submit t('action.login')
