!!! XML
!!! Strict

%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type',     :content => 'text/html; charset=utf-8' }/
    %meta{ 'http-equiv' => 'Content-Language', :content => 'en-us' }/
    %link{ :rel => 'SHORTCUT ICON', :href => '/favicon.ico' }/

    = stylesheet_link_tag :all, :media => 'all'

    %title
      Lojban Language Reference

  %body
    #header
      #left= t('site.title')
      #right
        - if user_signed_in?
          = t('site.welcome')
          = current_user.full_name
          [#{link_to t('action.logout'), destroy_user_session_url}]
        - else
          = form_for :user, :url => session_path(:user)  do |f|
            %label{:for => 'openid_identifier'}= t('label.openid')
            %input{:type => 'text', :id => 'openid_identifier', :name => 'openid_identifier', :size => 30}/
            = f.submit t('action.login')

      .clear
    #content
      = display_notices
      = yield
